@media (max-width: 1140px) {
	.get-started {
		padding-left: 15px;
	}
}

@media (max-width: 992px) {
	.services-list {
		gap: 50px;
		grid-template-columns: repeat(2, 1fr);
	}

  .hero {
    padding-top: 150px;
  }

  .hero-title {
    font-size: 40px;
    line-height: 50px;
  }

  .hero-content {
    max-width: 450px;
  }

  .services {
    padding-top: 80px;
  }

	.services-subtitle {
		max-width: none;
	}

	.services-descr {
		max-width: none;
	}

  .get-started {
    top: 100px;
    padding: 50px 0;
  }

  .get-started-title {
		font-size: 45px;
		line-height: 54px;
    margin-bottom: 20px;
	}

  .footer {
    padding-top: 150px;
  }

	.footer-middle {
		grid-template-columns: repeat(2, 1fr);
	}

	.footer-column:last-child::before {
		display: none;
	}
}

@media (max-width: 768px) {

  .header__right {
    margin: 18px 0;
    padding-bottom: 10px;
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
  }

  .hero {
    padding-top: 130px;
  }

	.get-started-title {
		font-size: 38px;
		line-height: 54px;
	}

  .hero-title {
    font-size: 35px;
    line-height: 50px;
  }

  .header__container {
    flex-direction: column;
  }

  .services {
    padding-top: 70px;
  }

  .services-subtitle {
    font-size: 20px;
    line-height: 20px;
  }

}

@media (max-width: 686px) {
  .hero-title {
    font-size: 30px;
    line-height: 40px;
  }

  .hero-content {
    max-width: 360px;
  }
}

@media (max-width: 576px) {
	.footer-middle {
		grid-gap: 30px;
		grid-template-columns: repeat(1, 1fr);
	}

	.hero-title {
		font-size: 30px;
		line-height: 40px;
	}

  .hero-content {
    max-width: 250px;
  }

	.services {
		padding-top: 50px;
		padding-bottom: 140px;
	}

	.footer-bottom {
		flex-direction: column;
	}

  .get-started-title {
    font-size: 33px;
		line-height: 48px;
  }
}

@media (max-width: 375px) {
	.footer-mail {
		font-size: 20px;
	}

	.logo {
		width: 65%;
	}

	.hero-title {
		font-size: 45px;
		line-height: 60px;
	}

	.services-list {
		grid-template-columns: repeat(1, 1fr);
	}
}


