* {
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-weight: 400;
}

img {
  max-width: 100%;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  cursor: pointer;
}

.container {
  max-width: 1140px;
  padding: 0 15px;
  margin: 0 auto;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.link {
  display: inline-block;
  border-bottom: 1px solid currentColor;
  font-weight: 700;
  line-height: 16px;
  font-size: 16px;
  color: #205375;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

.link:hover {
  color: #F66B0E;
}

.header {
  position: absolute;
  left: 0;
  top: 0;
  padding: 24px 0;
  width: 100%;
}

.header__right {
  display: flex;
  align-items: center;
}

.nav__list {
  display: flex;
  align-items: center;
}

.nav__item:not(:last-child) {
  margin-right: 35px;
}

.nav__link {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #EFEFEF;
  transition: color 0.3s ease-in-out;
}

.nav__link:hover {
  color: #F66B0E;
}

.logo {
  font-weight: 600;
  font-size: 32px;
  line-height: 130%;
  color: #A27B5C;
  margin-right: 30px;
}

.phone {
  font-weight: 450;
  font-size: 16px;
  line-height: 19px;
  color: #112B3C;
  margin-right: 20px;
  text-decoration: none;
}

.header-btn, .hero-btn {
  padding: 5px;
  min-width: 130px;
  font-weight: 300;
  font-size: 16px;
  background-color: #112B3C;
  color: #EFEFEF;
}

.header-btn:hover {
  color: #F66B0E;
  background-color: #73777B;
}

.hero-btn:hover {
  color: #F66B0E;
  background-color: #73777B;
}

.hero {
  padding-top: 189px;
  padding-bottom: 100px;
  background-image: url('/public/img/bgimg.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.hero-content {
  max-width: 616px;
  color: #112B3C;
 }

.hero-subtitle {
  display: inline-block;
  margin-bottom: 22px;
  font-size: 14px;
  line-height: 21px;
 }

.hero-title {
  margin: 0;
  margin-bottom: 24px;
  font-weight: 700;
  font-size: 60px;
  line-height: 74px;
}

.hero-descr {
  margin: 0;
  margin-bottom: 35px;
  font-size: 16px;
  line-height: 26px;
}

.services {
  margin-bottom: -180px;
  padding-top: 120px;
  padding-bottom: 150px;
}

.site-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 46px;
  color: #112B3C;
}

.services-title {
  margin: 0;
  margin-bottom: 60px;
  max-width: 606px;
}

.services-list {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(4, 1fr);
}

.services-subtitle {
  margin: 0;
  margin-bottom: 12px;
  font-weight: 500;
  font-size: 24px;
  line-height: 34px;
  text-transform: uppercase;
  color: #112B3C;
}

.services-descr {
  margin: 0;
  font-size: 14px;
  line-height: 26px;
  color: rgba(33, 56, 66, 0.6);
}

.services-item {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.get-started {
  position: relative;
  top: 180px;
  padding: 70px 0;
  width: 88%;
  box-shadow: 50px 130px 100px rgba(0, 0, 0, 0.145947);
  background-color: #FBFBFB;
  padding-left: calc((100% - 1110px) / 2);
}

.get-started-title {
  margin: 0;
  margin-bottom: 50px;
  min-width: 822px;
  font-weight: 700;
  font-size: 60px;
  line-height: 74px;
  color: #112B3C;
}

.footer {
  padding-top: 250px;
  color: #EFEFEF;
  background-image: url('/public/img/footerbg.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.footer-top {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 22px;
  border-bottom: 1px solid #EFEFEF;
}

.footer-contacts-item:not(:last-child) {
  margin-right: 128px;
}

.footer-contacts-text {
  display: block;
  margin-bottom: 8px;
	font-size: 16px;
	line-height: 20px;
	color: #EFEFEF;
}

.footer-contacts-value {
  font-weight: 700;
  font-style: normal;
  font-size: 16px;
  line-height: 40px;
  color: #EFEFEF;
  text-decoration: none;
}

.footer-title {
  margin: 0;
	margin-bottom: 12px;
	font-weight: 600;
	font-size: 16px;
	line-height: 38px;
	text-transform: uppercase;
	color: #EFEFEF;
}

.footer-link {
  display: inline-block;
  font-size: 16px;
  line-height: 40px;
  text-decoration: none;
  color: #EFEFEF;
}

.footer-middle {
  display: grid;
  gap: 70px;
  grid-template-columns: repeat(3, 1fr);
  padding: 30px 0;
  border-bottom: 1px solid #EFEFEF;
}

.footer-mail {
  display: inline-block;
  font-weight: 700;
  font-size: 24px;
  line-height: 38px;
  color: #EFEFEF;
  text-decoration: none;
  margin-bottom: 13px;
}

.social {
  display: flex;
  align-items: center;
}

.social-item:not(:last-child){
  margin-right: 11px;
}

.social-link {
  display: block;
  text-decoration: none;
  color: #EFEFEF;
}